@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NEXEN_TIRE_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/NEXEN_TIRE_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(19, 19, 19) !important;
  color: rgb(231, 231, 231) !important;
  font-family: 'SBAggroB';
}

.fa-chevron-right{
  margin-left: 4px; 
  height: 25px;
}

.fa-film {
  height: 40px;
  color: rgba(255, 0, 0, 0.541);
}

/* 
=====================
Navigation
=====================
*/
.nav {
  position: fixed;
  z-index: 10000;
  /* background-color: white; */
  width: 100%;
  height: 70px;
}

.nav::before {
  position: fixed;
  left: 0;
  width: 100%;
  height: 70px;
  content: '';
  background: linear-gradient(to bottom, black, transparent);
  pointer-events: none;
}

.nav-wrap {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
}

.nav-logo {
  content: url(./img/netflix-lg-logo.png);
  width: 100px;
}

@media screen and (max-width: 768px) {
  .nav-logo {
  content: url(./img/netflix-s-logo.png);
  width: 50px;
  }
}

.nav a {
  position: relative;
  z-index: 1;
  color: rgb(180, 180, 180);
  font-weight: bold;
  text-decoration: none;
  margin-left: 2.5rem;
  transition: 0.4s;
}

.nav a:hover {
  color: rgb(139, 139, 139);
  transition: 0.4s;
}

.nav a:focus {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/* 
=====================
Home
=====================
*/


.home-movies {
  z-index: -1;
}

.home h2 {
  font-size: 25px;
  margin-left: 20px;
}

.title-sign {
  color: red
}

/* 
=====================
Banner
=====================
*/
.banner {
  height: 600px;
  display: flex;
  align-items: center;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
}

.banner::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 600px;
  content: '';
  background: linear-gradient(to right, rgba(0, 0, 0, 0.884), transparent)
}

.banner-info {
  width: 40%;
  margin-left: 30px;
  z-index: 1;
}

@media (max-width: 768px) {
  .banner {
    height: 400px;
  }

  .banner-title {
    font-size: 30px;
  }

  .banner-info {
    width: 65%;
    margin-left: 30px;
    z-index: 1;
  }

  .banner::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 400px;
    content: '';
    background: linear-gradient(to right, rgba(0, 0, 0, 0.884), transparent)
  }
  
}

/* 
=====================
Movie Card
=====================
*/

.modal {
  background-color: rgba(0, 0, 0, 0.348);
}

.modal-body {
  background-color: black;
  padding: 0;
}

.movie-card {
  z-index: 10;
  position: relative;
  width: 220px;
  height: 310px;
  background-size: cover;
  border-radius: 10px;
  transform-origin: middle;
  transition: 0.3s;
  margin: 5% 0;
}

.movie-card:hover {
  transform: scale(1.1);
}

.movie-card h1 {
  width: 80%;
  font-size: large;
  padding: 0;
}

.movie-card-badges {
  margin-left: 2px;
  margin-bottom: 20px;
}

.movie-card-badges .badge {
  margin-bottom: 10px;
}

.movie-card-overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 10%;
  /* margin: 0;
  padding: 0; */
}

.movie-card-overlay:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.596);
}

.badge {
  width: auto;
  height: 1.5rem;
  border-radius: 25px;
  margin-right: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red !important;
}

.swiper{
  position: relative;
  z-index: 1000;
}

.swiper-slide {
  margin: 0 0.2%;
}
.swiper-button-next,
.swiper-button-prev {
  color: rgba(255, 0, 0, 0.555) !important;
  font-weight: bolder;
}

@media screen and (max-width: 968px) {
  
.movie-card {
  width: 120px;
  height: 210px;
  transition: 0.3s;
  margin: 5% 0;
}

.movie-card:hover {
  transform: scale(1.1);
}

.movie-card h1 {
  width: 80%;
  font-size: large;
  padding: 0;
}

.movie-card-badges {
  margin-left: 2px;
  margin-bottom: 20px;
}

.movie-card-badges .badge {
  margin-bottom: 10px;
}

.movie-card-overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 10%;
  /* margin: 0;
  padding: 0; */
}

.movie-card-overlay:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.596);
}
}

/* 
=====================
Movie Detail
=====================
*/
.detail-info {
  width: 100%;
  height: 400px;
  /* background-color: red; */
}

.detail-card-box h4 {
  font-family: 'Pretendard-Regular';
  font-size: 15px;
  line-height: 35px;
}

.detail-card-box {
  margin: 0;
  width: 100%;
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.detail-card {
  /* border: 1px solid rgba(255, 0, 0, 0.247); */
  box-shadow: 8px 8px 25px 1px rgba(255, 0, 0, 0.247);
  border-radius: 15px;
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  /* justify-content: center; */
}

.detail-card .badge {
  display: inline;
}

.detail-card {
  transition: 0.3s;
}
.detail-card:hover{
  transform: scale(1.02);
}

.detail-title {
  font-size: 35px;
  margin: 20px 20px;
}

.voteAvarage-span, .voteCount-span {
  background-color: rgb(255, 187, 0);
  color:rgb(19, 19, 19);
  padding: 6px 8px;
  border-radius: 25px;
}

.adult, .all {
  font-family: 'NEXEN_TIRE_Bold';
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 10px;
}
.adult {
  background-color: rgb(171, 46, 46);
}
.all {
  background-color: rgb(20, 126, 54);
}

@media screen and (max-width: 768px) {
  .detail-title {
    font-size: 25px;
    margin: 15px 20px;
  }

  .detail-info {
    width: 100%;
    height: 740px;
  }

  .detail-card-box {
    /* margin: 0; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .detail-card {
    border-radius: 15px;
    width: 90%;
    margin-bottom: 10px;
    /* height: 40%; */
  }
}


/* 
=====================
Character Card
=====================
*/
.detail-characters {
  width: 100%;
  height: 400px;
  z-index: 10;
  position: relative;
  margin-top: 30px;
  /* background-color: orange; */
}

.character-box {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 8px 8px 25px 1px rgba(255, 0, 0, 0.247);
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
  margin: 4px;
}

.character-box:hover {
  transform: scale(1.02);
}

.character-overlay {  
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}

.character-overlay:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.596);
}

/* 
=====================
Character Card
=====================
*/
.detail-video {
  width: 100%;
  height: 100%;
}


/* 
=====================
Review Card
=====================
*/
.detail-review {
  width: 100%;
  height: 500px;
  /* background-color: rgb(255, 175, 195); */
}

.review-card-box {
  width: 100%;
  display: flex;
  flex-flow : row wrap;
  flex: auto;
}
.review-card-top-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.review-top-sub {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.review-author-img {
  background-color: rgb(231, 231, 231);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-author-name {
  font-family: 'SBAggroB';
  margin-left: 20px;
}

.review-date {
  font-size: small;
  color:rgb(139, 139, 139)
}

.review-rating {
  font-family: 'SBAggroB';
  color: red;
  font-size: 20px;
}

.review-card {
  /* border: 1px solid white; */
  font-family: 'Pretendard-Regular';
  width:27%;
  height: 250px;
  margin: 2% 3%;
  border-radius: 20px;
  padding: 1%;
  box-shadow: 8px 8px 25px 3px rgba(161, 161, 161, 0.247);
}

.review-card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.review-content {
  height: 55%;
  overflow: auto;
  word-break:break-all
}

.review-content::-webkit-scrollbar {
  width: 8px;
}
.review-content::-webkit-scrollbar-thumb {
  background-color: rgba(229, 45, 45, 0.884);
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.review-content::-webkit-scrollbar-track {
  background-color: rgb(99, 99, 99);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px rgb(196, 196, 196);
}

@media screen and (max-width: 992px) {
  .detail-characters {
    margin-top: 120px;
  }

  .review-card-box {
    justify-content: center;
  }

  .review-card {
    border: 1px solid white;
    font-family: 'Pretendard-Regular';
    width:80%;
    height: 250px;
    margin: 10% 3%;
    /* padding: 20px 80px; */
  }
}